{% extends "rsh/base.html" %}

{% block content %}

{% if object_list %}
  <table id="formTable">
  <tr><th>Tid</th><th>Aktivitet</th><th></th></tr>
  {% for object in object_list %}
    {% if object.signature %}
      <tr><td>{{ object.time }}</td><td>{{ object.name }}</td><td>{{ object.signature }}</td></tr>
    {% else %}
      <tr><td>{{ object.time }}</td><td>{{ object.name }}</td><td><a href="{% url sign_task gid object.id %}">Signera</a></td></tr>
    {% endif %}
  {% endfor %}
  </table>
{% else %}
  <p>Det finns inga aktiviteter idag</p>
{% endif %}
<a href="{% url newtask gid %}">Ny Aktivitet</a>
<a href="{% url task_management gid %}">Administrera Aktiviteter</a>

{% endblock %}
