{% extends "rsh/base.html" %}

{% block content %}

{% if object_list %}
  <table class="formtable">
  <tr class="ui-widget-header"><td>Tid</td><td>Aktivitet</td><td></td></tr>
  {% for object in object_list %}
    {% if object.signature %}
      <tr><td>{{ object.time }}</td><td>{{ object.name }}</td><td>{{ object.signature }}</td></tr>
    {% else %}
      <tr><td>{{ object.time }}</td><td>{{ object.name }}</td><td><a href="{% url sign_task gid object.id %}">Signera</a></td></tr>
    {% endif %}
  {% endfor %}
  </table>
{% else %}
  <div class="ui-widget center300">
    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
    <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>Det finns inga aktiviteter idag</p>
    </div>
  </div>
{% endif %}

{% if adm %}
  <div class="padded">
  <a href="{% url task_management gid %}" class="fg-button ui-state-default ui-corner-all">Administrera Aktiviteter</a>
  </div>
{% endif %}

{% endblock %}
