{% extends "rsh/base.html" %}

{% block content %}

{% if object_list %}
  <ul>
  {% for object in object_list %}
    {% if object.signature %}
      <li>{{ object.time }} {{ object.name }} {{ object.signature }}</a></li>
    {% else %}
      <li>{{ object.time }} {{ object.name }} <a href="{% url sign_task gid object.id %}">klar</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% else %}
  <p>Det finns inga uppgifter</p>
{% endif %}
<a href="{% url newtask gid %}">Ny Aktivitet</a>
<a href="{% url task_management gid %}">Administrera Aktiviteter</a>

{% endblock %}
