{% extends "base.html" %}

{% block content %}

{% if object_list %}
  <ul>
  {% for object in object_list %}
    {% ifequal object.app 1 %} 
      <li><a href="{% url report_list object.station.id %}">{{ object.station }} - PIN</a></li>
    {% else %}{% ifequal object.app 2 %}
      <li><a href="{% url task_list object.station.id %}">{{ object.station }} - RSH</a></li>
    {% endifequal %}{% endifequal %}
  {% endfor %}
  </ul>
{% else %}
  <p>Du har inte rättigheter till någon bensinstation</p>
{% endif %}

{% endblock %}
