{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="{% url report_list rep.station.id %}" >{{ rep.station.name }}</a> &raquo; <a href="{% url overview_report rep.id %}">{{ rep.date }}</a> &raquo; Mekaniska r&auml;kneverk
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} bellow.
    </p>
  {% endif %}

  <form action="" method="post">
    <table id="formTable">
      {{ form.as_spsh }}
    </table>
    <input type="submit" value="Submit">
  </form>

{% endblock %}
