{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="/pin/report_list/{{ rep.station.id }}" >{{ rep.station.name }}</a> &raquo; <a href="/pin/new_report/r{{ rep.id }}">{{ rep.date }}</a> &raquo; &Ouml;vrigt
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} bellow.
    </p>
  {% endif %}

  <form action="" method="post">
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

{% endblock %}
