{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}}
  <li class="menu"><a class="menu" href="{% url report_list rep.station.id %}">&raquo; {{ rep.station.name }}</a></li>
  <li class="menu"><a class="menu" href="#">&raquo; {{ rep.date }}</a></li>
{% endblock %}

{% block content %}

{% if rep %}
  <div class="center300"><ul class="list">
    <li class="list"><a class="fg-button ui-state-default fg-button-icon-right ui-corner-all" href="{% url mech_report rep.id %}">{% if rep.has_mech_data %}<span class="ui-icon ui-icon-check"></span>{% else %}<span class="ui-icon ui-icon-circle-close"></span>{% endif %}Mekaniskaräkneverk</a></li>
    <li class="list"><a class="fg-button ui-state-default fg-button-icon-right ui-corner-all" href="{% url delivery_report rep.id %}">{% if rep.has_delivery_data %}<span class="ui-icon ui-icon-check"></span>{% else %}<span class="ui-icon ui-icon-help"></span>{% endif %}Leveranser</a></li>
    <li class="list"><a class="fg-button ui-state-default fg-button-icon-right ui-corner-all" href="{% url misc_report rep.id %}">{% if rep.has_fuel_type_data %}<span class="ui-icon ui-icon-check"></span>{% else %}<span class="ui-icon ui-icon-circle-close"></span>{% endif %}Övrigt</a></li>
  {% if rep.is_complete %}
    <li class="list"><a class="fg-button ui-state-default ui-corner-all" href="{% url view_report rep.id 0 %}">Signera</a></li>
  {% endif %}
  </ul></div>
{% else %}
  <div class="ui-widget center300">
    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
    <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
    Det finns inga rapporter</p>
    </div>
  </div>
{% endif %}

{% endblock %}
