{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="/pin/report_list/{{ rep.station.id }}" >{{ rep.station.name }}</a> &raquo; {{ rep.date }}
{% endblock %}

{% block content %}

{% if rep %}
  <ul>
    <li><a href="{% url pin.views.new_report %}r{{ rep.id }}/mech/">Mekaniskaräkneverk</a>{% if rep.has_mech_data %} GOOD {% else %} BAD {% endif %}
</li>
    <li><a href="{% url pin.views.new_report %}r{{ rep.id }}/deliv/">Leveranser</a>{% if rep.has_delivery_data %} YES {% else %} NONE {% endif %}</li>
    <li><a href="{% url pin.views.new_report %}r{{ rep.id }}/misc/">Övrigt</a>{% if rep.has_fuel_type_data %} GOOD {% else %} BAD {% endif %}</li>
  {% if rep.is_complete %}
    <li><a href="{% url pin.views.new_report %}r{{ rep.id }}/view/">Signera</a></li>
  {% endif %}
  </ul>
{% else %}
  <p>Det finns inga rapporter.</p>
{% endif %}

{% endblock %}
