{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="{% url report_list rep.station.id %}" >{{ rep.station.name }}</a> &raquo; {{ rep.date }}
{% endblock %}

{% block content %}

{% if rep %}
  <ul>
    <li><a href="{% url mech_report rep.id %}">Mekaniskaräkneverk</a>{% if rep.has_mech_data %}<img src="/site_media/images/ok.png"  width="20" height="20" alt="OK">{% else %}<img src="/site_media/images/notok.png"  width="20" height="20" alt="Ej Ok">{% endif %}</li>
    <li><a href="{% url delivery_report rep.id %}">Leveranser</a>{% if rep.has_delivery_data %}<img src="/site_media/images/ok.png"  width="20" height="20" alt="OK">{% else %}<img src="/site_media/images/none.png"  width="20" height="20" alt="Ingen">{% endif %}</li>
    <li><a href="{% url misc_report rep.id %}">Övrigt</a>{% if rep.has_fuel_type_data %}<img src="/site_media/images/ok.png"  width="20" height="20" alt="OK">{% else %}<img src="/site_media/images/notok.png"  width="20" height="20" alt="Ej Ok">{% endif %}</li>
  {% if rep.is_complete %}
    <li><a href="{% url view_report rep.id %}">Signera</a></li>
  {% endif %}
  </ul>
{% else %}
  <p>Det finns inga rapporter.</p>
{% endif %}

{% endblock %}
