{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="{% url pin.views.report_list %}{{ gs.id }}" >{{ gs.name }}</a>
{% endblock %}

{% block content %}

{% if object_list %}
  <ul>
  {% for report in object_list %}
    <li>{{ report.date }}
    {% if forloop.last and unsignedreport %}
      <a href="{% url pin.views.new_report %}r{{ report.id }}/">edit</a>
    {% else %}
      <a href="{% url pin.views.new_report %}r{{ report.id }}/view/">view</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No reports are available.</p>
{% endif %}

{% if not unsignedreport %}
  <a href="{% url pin.views.new_report %}{{ gs.id }}/">Create new report</a>
{% endif %}

{% endblock %}
