{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="{% url report_list gs.id %}" >PIN - {{ gs.name }}</a>
{% endblock %}

{% block content %}

{% if object_list %}
  <ul>
  {% for report in object_list %}
    <li>{{ report.date }}
    {% if forloop.last and unsignedreport %}
      <a href="{% url overview_report report.id %}">edit</a>
    {% else %}
      <a href="{% url view_report report.id %}">view</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>Det finns inga rapporter</p>
{% endif %}

{% if not unsignedreport %}
  <a href="{% url new_report gs.id %}">Skapa ny rapport</a>
{% endif %}

{% endblock %}
