{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="{% url report_list rep.station.id %}" >{{ rep.station.name }}</a>
  {% if form.password %}
    &raquo; <a href="{% url overview_report rep.id %}">{{ rep.date }}</a> &raquo; Signera
  {% else %}
    &raquo; {{ rep.date }}
  {% endif %}
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} bellow.
    </p>
  {% endif %}

  <table id="formTable">
  {% for row in page %}
    <tr>
    {% for col in row %}
      {% if forloop.parentloop.first or forloop.first %}<th>{% else %}<td>{% endif %}
      {{ col }}
      {% if forloop.parentloop.first or forloop.first %}</th>{% else %}</td>{% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>

  {% if form.password %}
    <form action="" method="post">
      {% if form.errors %}
        {{ form.errors.password }}
      {% endif %}
      <p>{{ form.password.label}}{{ form.password }}<input type="submit" value="Sign" /></p>
    </form>
  {% else %}
    Signed by {{ signame}} on {{ sigtime|date:"Ymj-His"}}
  {% endif %}

{% endblock %}
