{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} bellow.
    </p>
  {% endif %}

  <table>
  {% for row in page %}
    <tr>
    {% for col in row %}
      {% if forloop.parentloop.first or forloop.first %}<th>{% else %}<td>{% endif %}
      {{ col }}
      {% if forloop.parentloop.first or forloop.first %}</th>{% else %}</td>{% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>

  {% if form.password %}
    <form action="" method="post">
      {% if form.errors %}
        {{ form.errors.password }}
      {% endif %}
      <p>{{ form.password.label}}{{ form.password }}<input type="submit" value="Sign" /></p>
    </form>
  {% endif %}

{% endblock %}
