{% extends "pin/base.html" %}

{% block breadcrumb %}
  {{ block.super}} &raquo; <a href="{% url report_list rep.station.id %}" >{{ rep.station.name }}</a>
  {% if form.password %}
    &raquo; <a href="{% url overview_report rep.id %}">{{ rep.date }}</a> &raquo; Signera
  {% else %}
    &raquo; {{ rep.date }}
  {% endif %}
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p style="color: red;">
      Det finns fel i formuläret.
    </p>
  {% endif %}

  Avstämning mekaniska räkneverk
  <table id="formTable" width="300">
  {% for row in page_amr %}
    <tr>
    {% for col in row %}
      {% if forloop.parentloop.first or forloop.first %}<th>{% else %}<td>{% endif %}
      {{ col }}
      {% if forloop.parentloop.first or forloop.first %}</th>{% else %}</td>{% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>

  Avstämning elektroniska räkneverk
  <table id="formTable" width="300">
  {% for row in page_aer %}
    <tr>
    {% for col in row %}
      {% if forloop.parentloop.first or forloop.first %}<th>{% else %}<td>{% endif %}
      {{ col }}
      {% if forloop.parentloop.first or forloop.first %}</th>{% else %}</td>{% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>

  Inleveranser
  <table id="formTable" width="300">
  {% for row in page_inl %}
    <tr>
    {% for col in row %}
      {% if forloop.parentloop.first or forloop.first %}<th>{% else %}<td>{% endif %}
      {{ col }}
      {% if forloop.parentloop.first or forloop.first %}</th>{% else %}</td>{% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>

  Lageravstämmning idag
  <table id="formTable" width="300">
  {% for row in page_lai %}
    <tr>
    {% for col in row %}
      {% if forloop.parentloop.first or forloop.first %}<th>{% else %}<td>{% endif %}
      {{ col }}
      {% if forloop.parentloop.first or forloop.first %}</th>{% else %}</td>{% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
 
  Lagerdifferens från bokföringsårets början
  <table id="formTable" width="300">
  {% for row in page_ldb %}
    <tr>
    {% for col in row %}
      {% if forloop.parentloop.first or forloop.first %}<th>{% else %}<td>{% endif %}
      {{ col }}
      {% if forloop.parentloop.first or forloop.first %}</th>{% else %}</td>{% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </table>

  {% if form.password %}
    <form action="" method="post">
      {% if form.errors %}
        {{ form.errors.password }}
      {% endif %}
      <p>Lösenord {{ form.password }}<input type="submit" value="Signera" /></p>
    </form>
  {% else %}
    Signerad av {{ signame}} {{ sigtime|date:"Ymj-His"}}
  {% endif %}

{% endblock %}
