<!DOCTYPE HTML PUBLIC " - //W3C//DTD HTML 4.01//EN">
<html lang="sv.UTF-8">
<link rel="stylesheet" href="/site_media/css/style.css" type="text/css"> 
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <center><div id="mainContainer">
    {% block header %}
      <h1>Applikationer</h1>
    {% endblock %}
    <div id="menu">
    {% block menu %}
      {% if user.is_authenticated %}
        {{ user.username }}  <a href="{% url django.contrib.auth.views.logout %}">logout</a>
      {% endif %}
      <hr>
    {% endblock %}
    </div>
    <div id="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
    {% block content %}{% endblock %}
    {% block footer %}
      <hr>
      <p>Efficient</p>
    {% endblock %}
  </div></center>
</body>
</html>
